#contenedor-formulario h3{
    text-align: center;
    font-size: 2em;
}

#contenedor-formulario{
    margin-top: 5em;
}

#formulario {
    background-color: rgb(141, 141, 198);
    width: min( 35em, 100% );
    margin: 1em auto;
    border-radius: .8em;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.6);
}

#formulario fieldset {
    border: none;
}

#formulario legend {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    color: whitesmoke;
}

.titulo {
    text-align: center;
}

.boton {
    background-color: rgb(58, 58, 154);
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: .6em;
    border-radius: .2em;
    margin: 1em 0 2em 2em;
    border: 1px solid white;
}

.boton:hover {
    background-color: rgb(166, 166, 223);
    cursor: pointer;
    color: black;
    border: 1px solid black;
}

#contenedor-boton {
    text-align: center;
    margin-right: 2em;
}

.contacto {
    padding: 5em;
}

.formulario {
    padding-top: 15px;
}

.campo {
    margin: 1em 2em 0 2em;
}

.input-text {
    height: 2em;
    width: 100%;
    border: none;
    border-radius: .3em;
    padding-left: 0.3em;
}

.campo label {
    font-size: 1.2em;
    font-weight: bold;
    color: whitesmoke;
}

.campo h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: whitesmoke;
}

.texto {
    font-size: 1em;
    color: black;
    background-color: whitesmoke;
    height: 1.5em;
    width: 100%;
    border: 1px solid black;
    border-radius: .3em;
    padding-top: 5px;
    padding-left: 0.3em;
}

#cmbPlanes {
    height: 2em;
    width: 101%;
    border-radius: .3em;
    padding-left: 0.3em;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;
}

#valor-error {
    display: flex;
    width: 103%;
}
